def plotter():
  import matplotlib.pyplot as plt
  import random
  import numpy as np
  n=90000
  x,y = np.zeros(n),np.zeros(n)
  for i in range(1,n):
    val=random.randint(1,4)
    if val==1:
      x[i]=x[i-1]+1
      y[i]=y[i-1]
    elif val==2:
      x[i]=x[i-1]-1
      y[i]=y[i-1]
    elif val==3:
      x[i]=x[i-1]
      y[i]=y[i-1]+1
    else:
      x[i]=x[i-1]
      y[i]=y[i-1]-1
  while True:
    plt.scatter(x,y,c=range(n),cmap=plt.cm.Greens,s=2,edgecolors='none')
    plt.scatter(x[-1],y[-1],s=100,edgecolors='none',c='black')
    plt.scatter(1,1,c='red',s=100,edgecolors='none')
    plt.title('random walk by zakkaria123')
    plt.show()
    user_input=input('plot again: ')
    if user_input=='no':
      break
plotter()
